<div class="section">
  <a class="btn-floating btn-large waves-effect"
     href="<%= Routes.flashcards_path(@conn, :new) %>">
    <i class="material-icons">add</i>
  </a>
</div>
<div class="section">
  <%= for row <- Enum.chunk_every(@cards, 3) do %>
    <div class="row">
      <%= for card <- row do %>
        <div class="col s6 m3">
          <%= render_card(@conn, card) %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
